@model Busca_de_Alunos2.Models.Aluno

@{
    ViewBag.Title = "Detalhes Aluno";
}

<h2>Detalhes Aluno</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lng)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
